<ul class="list-unstyled">
 
  <li class="dropdown pc-h-item header-user-profile" ngbDropdown>
    <a class="pc-head-link dropdown-toggle arrow-none me-0" ngbDropdownToggle>
      <img src="assets/images/user/avatar-2.jpg" alt="user-image" class="user-avatar me-2" />
      <span class="f-w-600">{{user?user:'John'}}</span>
    </a>
    <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
      <a class="dropdown-item" (click)="logOut()">
          <i class="text-muted" antIcon theme="outline" type="logout"></i>
          <span>Logout</span>
        </a>
    </div>
  </li>
</ul>
