.pointer{
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.card-body {
  flex-grow: 1;
}

.site-name {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
