<!-- <app-navbar></app-navbar> -->

<div class="container-fluid mt-4">
    <div class="card">
        <div class="card-body border-bottom py-4">
            <div class="d-flex align-items-center">
                <h5 class="mb-0 card-title flex-grow-1">
                    {{showOwner ? 'Group owners ' : 'Group members' }} </h5>
                    <button (click)="onLinkClick()" class="btn-left-aligned text-danger">
                        <i class="fa fa-arrow-left"></i>
                      </button>                      
            </div>
        </div>
        <div class="card-body border-bottom py-2">
            <div class="table-responsive">
                <table class="table align-middle dt-responsive nowrap w-100 table-check table-striped 
            table-bordered datatables dtr-inline b-grey">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Action</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Mail</th>
                            <th>Mobile Phone</th>
                            <th>Office Location</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let item of groupModelData; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td><button class="btn btn-sm btn-danger" title="delete" (click)="delete(item)">
                                <i class="fa fa-trash"></i>
                              </button></td>
                            <td> {{ item.displayName }}</td>
                            <td>{{ item.surname }}</td>
                            <td>{{ item.mail }}</td>
                            <td>{{ item.mobilePhone }}</td>
                            <td>{{ item.officeLocation }}</td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>







</div>